*.iml
.gradle
/.idea
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
src/main/java/com/coruscate/kotlin/modules/notes/adapter/
src/main/java/com/coruscate/kotlin/modules/notes/view/
src/main/java/com/coruscate/kotlin/modules/notes/viewmodel/